.main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.Navigation-Anchor {
  background-color: #150e01 !important;
  padding: 3.5px !important;
  margin: 7px !important;
}

.back-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #150e01;
}
.back-cover > img {
  width: 30%;
}
