.main {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@keyframes upDown {
  0% {
    top: 94%;
  }
  50% {
    top: 95%;
  }
  100% {
    top: 94%;
  }
}
.arrow_box {
  position: absolute;
  z-index: 100;
  top: 95%;
  right: 15px;
  animation: upDown 1.3s linear infinite;
}
.down_arrow {
  width: 20px;
}

.display-font {
  font-family: "Playfair Display", serif !important;
}
.bold {
  font-weight: 600;
}
/* Navigation */
.Navigation {
  right: 0px !important;
}
.Navigation-Anchor {
  background-color: #150e01 !important;
  padding: 3.5px !important;
  margin: 7px !important;
}
/* Section */
.Section {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 0 30px;
  overflow: hidden;
}
.Section:first-of-type,
.Section:last-of-type {
  padding: 0;
}
.section-title {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #150e01;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

/* Musician */
.musician-list {
  display: grid;
  width: 100%;
  height: 80vh;
  margin: 0.5em 0;
  grid-template-rows: repeat(4, 0.5fr);
}
.musician-li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Noto Serif KR", serif;
}
.musician-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.musician-img img {
  width: 100%;
  height: 100%;
  scale: 1.2;
  object-fit: cover;
  object-position: 0 10px;
}
.musician-info {
  flex: 0 1 60%;
  line-height: 1.2;
}
.musician-info > em {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}
.musician-profiles {
  list-style: disc;
  margin-left: 20px;
  font-size: 12px;
  line-height: 1.4;
}

/* programs */
.bg-flower-top {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 86px;
  height: auto;
  transform: rotate(25deg);
}
.bg-flower-bottom {
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 120px;
  height: auto;
}
.bg-flower-bottom > img {
  width: 100%;
  height: 100%;
}
.programs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
.program-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}
.program-info p {
  font-family: "Noto Serif KR", serif;
  line-height: 1.4;
}
.program-description {
  margin-top: 18px;
  font-family: "Noto Serif KR", serif;
  font-size: 12px;
  line-height: 2;
}
.encore {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Noto Serif KR", serif;
  font-style: italic;
}

/* last */
.back-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #150e01;
}
.back-cover > img {
  width: 30%;
}
